<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <title>MurkaUserBot</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=68" /> 
    </head>

    <body>
        <h1>MurkaUserBot</h1>

        <p class="codebox">
            MurkaUserBot <br>
            &#128640; {{ text1 }} <br>
            &#9989; {{ text2 }} <br>
            &#9883;&#65039; {{ text3 }} <br>
        </p>

        <h1>{{ help }}</h1>
        <p class="codebox">
            <a href="https://t.me/MurkaUserChat_UA">@MurkaUserChat_UA</a> -- {{ ruschat }} <br>
            <a href="https://t.me/murka_en">@murka_en</a> -- {{ engchat }} <br>
        </p>

        {{ text4 }} <a href="/install">{{ text5 }}</a>.
        
        <br>
        <hr>
        
        
        {{ github }} <a href="https://github.com/MurkaUserBot/site">GitHub</a>

        <hr>
        <a href="/changelang/ua"><img src="/static/ua.jpeg" style="width:30px;height:20px;"></a>
        <a href="/changelang/en"><img src="/static/us.jpeg" style="width:38px;height:20px;"></a>
        <a href="/changelang/ru"><img src="/static/ru.jpeg" style="width:30px;height:20px;"></a>
    </body>
</html>