<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <title>MurkaUserBot</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    </head>

    <body>
        <h1>MurkaUserBot</h1>

        <p class="codebox">
            &#128640; {{ text1 }} <br>
            &#9989; {{ text2 }} <br>
            &#9883;&#65039; {{ text3 }} <br>
        </p>

        <h1>{{ help }}</h1>
        <p class="codebox">
            <button class="tgbutton" onclick="window.location.href='https://t.me/MurkaUserChat_UA'">
                <i class="fa fa-telegram"></i>
                @MurkaUserChat_UA
            </button>
            <br>
            <button class="tgbutton" onclick="window.location.href='https://t.me/murka_en'">
                <i class="fa fa-telegram"></i>
                @murka_en
            </button>
        </p>
        
        <button onclick="window.location.href='/install'">{{ install }}</button>
        
        <br>
        <hr>
        
        
        {{ wbgh }} <button style="font-size:24px" onclick="window.location.href='https://github.com/MurkaUserBot/site'">GitHub <i class="fa fa-github"></i></button><br><hr>
        {{ ubgh }} <button style="font-size:24px" onclick="window.location.href='https://github.com/MurkaUserBot/MurkaUserBot'">GitHub <i class="fa fa-github"></i></button>

        <hr>
        <a href="/changelang/ua"><img src="/static/ua.jpeg" style="width:30px;height:20px;"></a>
        <a href="/changelang/en"><img src="/static/us.jpeg" style="width:38px;height:20px;"></a>
        <a href="/changelang/ru"><img src="/static/ru.jpeg" style="width:30px;height:20px;"></a>
    </body>
</html>