<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </heaxd>
    
    <body>
        <h1>{{ title }}</h1>
        <p>{{ default }}</p>
        <p class="codebox">
            git clone https://github.com/MurkaUserBot <br>
            cd MurkaUserBot <br>
            python3 -m friendly-telegram
        </p>
        <hr>
        <p>{{ installed1 }} <p class="codebox">.help</p> {{ installed2 }}</p>
    </body>
</html>